@using Kendo.Mvc.UI;
@using Utils.NationalCatalog.Models
@using Utils.Kendo.Extensions
@model IEnumerable<CatalogFeed>

<div class="buttons" style="padding-bottom: 10px; padding-top: 10px">
    @(Html.Kendo()
        .Button()
        .Name("btAdd")
        .Content("Добавить товар")
        .Events(e => e.Click("btAdd_onClick"))
    )
</div>
@(Html.Kendo()
        .Grid<CatalogFeed>()
        .BaseGrid()
        .Name("grProducts")
        .AutoBind(false)
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Hidden();
            columns.Bound(p => p.GoodId);
            columns.Bound(p => p.GTIN);
            columns.Bound(p => p.GoodName);
            columns.Bound(p => p.TNVED);
            columns.Bound(p => p.Brand);
            columns.Bound(p => p.Moderation);
            columns.Bound(p => p.Barcodes);
            columns.Bound(p => p.Categories);
            columns.Bound(p => p.Attributes);
            columns.Bound(p => p.Images);
        })
        .Events(e => e.Change("aaa"))
)

<partial name="_NewProduct"/>

<script type="text/javascript">
    function btAdd_onClick() {
        window.wndProduct_createWindow();
    }

    function aaa() {

    }

    
</script>