@using Utils.Kendo.Extensions

@{
    ViewData["Title"] = "Сброс пароля";
}

<h1>@ViewData["Title"]</h1>
<p>Введите адрес электронной почты, на которую будет отправлено письмо для сброса пароля</p>
<div class="row">
    <div class="col-sm-3">Email</div>
    <div class="col-sm-9">@(Html.Kendo().TextBox().Name("tbEmail").FullWidth())</div>
</div>
@(Html.Kendo()
        .Button()
        .Name("btReset")
        .Content("Отправить")
        .Events(e => e.Click("btReset_onClick"))
    )

<script>
    var tbEmail;

    function btReset_onClick() {
        var email = $('#tbEmail').val();
        if (!email) {
            swal('Почта не введена');
            return;
        }
        $.ajax({
            url: `@Url.Action("SendPasswordResetMail", "Account")?email=${email}`,
            method: 'GET',
            success: (response) => {
                if (response.Message) {
                    swal('Внимание!', response.Message, 'warning');
                    return;
                }
                swal('Успех', `Письмо для сброса пароля отправлено на адрес ${email}`);
                window.location.href = '@Url.Action("Login", "Account")';
            }
        });
    }
</script>

