@using Kendo.Mvc.UI
@model AllMark.Models.RegisterViewModel

<h2>Регистрация</h2>

<form id="registerForm" asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="container-fluid">
    <div class="validation" asp-validation-summary="All" />
    <div>
        <div class="row" style="margin-bottom: 5px;">
            <label asp-for="Email" class="col-sm-3">Введите Email</label>
            <div class="col-sm-9">
                @Html.Kendo().TextBoxFor(i => i.Email).HtmlAttributes(new { style = "width: 100%;" })
                <span asp-validation-for="Email" class="col-sm-12 text-danger"></span>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label asp-for="Password" class="col-sm-3">Введите пароль</label><br />
            <div class="col-sm-9">
                @Html.Kendo().TextBoxFor(i => i.Password).HtmlAttributes(new { style = "width: 100%;" })
                <span asp-validation-for="Password" class="col-sm-12 text-danger"></span>
            </div>

        </div>
        <div class="row" style="margin-bottom: 5px;">
            <label asp-for="ConfirmPassword" class="col-sm-3">Повторите пароль</label><br />
            <div class="col-sm-9">
                @Html.Kendo().TextBoxFor(i => i.ConfirmPassword).HtmlAttributes(new { style = "width: 100%;" })
                <span asp-validation-for="ConfirmPassword" class="col-sm-12 text-danger"></span>
            </div>
        </div>
    </div>
    @(Html.Kendo()
        .Button()
        .Name("btSubmit")
        .Content("Регистрация")
        .Events(e => e.Click("() => $('#registerForm').submit()"))
    )

</form>
    