@addTagHelper *, AllMark.HtmlHelpers
@using AllMark.HtmlHelpers
@model IEnumerable<Utils.NationalCatalog.Models.CatalogAttribute>

@(Html.Kendo()
    .TabStrip()
    .Name("tabStrip")
    .Scrollable(false)
    .Items(items =>
    {
        var groups = Model.GroupBy(i => i.GroupName).ToList();
        var first = true;
        foreach (var group in groups)
        {
            items.Add()
            .Selected(first)
            .Text(group.Key)
            .Content(@<text>
                    @foreach (var attribute in group)
                    {
                        <div class="row" style="margin:5px;">
                            <div class="col-sm-3 allmark-div">
                                @(attribute.Name)
                            </div>
                            <div class="col-sm-9 allmark-div">
                                <partial name="_AttributeControl" model="attribute" />
                            </div>
                        </div>
                    }
            </text>);
            first = false;
        }
    })
)

<div>
    @(Html.Kendo()
        .Button()
        .Name("wndAttributes_btSave")
        .Content("Сохранить")
        .Events(e => e.Click("wndAttributes_btSave_onClick"))
    )
</div>