@using Utils.NationalCatalog.Models
@using AllMark.HtmlHelpers
@addTagHelper *, AllMark.HtmlHelpers
@model IEnumerable<CatalogAttribute>

    <div>
        @(Html.Kendo()
            .TabStrip()
            .Name("tab1")
            .TabPosition(TabStripTabPosition.Top)
            .Items(items =>
            {
                items.Add()
                    .Text("Обязательные поля");
                items.Add()
                    .Text("Атрибуты товара")
                    .Content(@<text>
                                 <partial name="_attrTabStrip" model="Model" />
                              </text>);
            }
            ))
    </div>

<script>
    $(document).ready(() => {
        setControlsSettings();
    })
</script>